.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    background-color: beige;
    gap: 10px;
}

.item-1{
    background-color: orange;
    grid-column: 1 / 5;
}

.item-2{
    background-color: green;
    grid-column: 1 / 4;
}

.item-3{
    background-color: purple;
    grid-column: 4 / 5; /* before the / is start of the column after the / is end of the column */
    grid-row: 2 / 4;
}

.item-4{
    background-color: red;
    grid-column: 1 / 4;
}