.flex-1{
    width: 200px;
    background-color: pink;
    border: 1px solid grey;
    /* margin: 10px; */
}

.flex-2{
    width: 200px;
    background-color: pink;
    border: 1px solid grey;
    /* margin: 10px; */
}

.flex-3{
    width: 200px;
    background-color: pink;
    border: 1px solid grey;
    /* margin-top: 10px; */
}

.flex-4{
    width: 200px;
    background-color: pink;
    border: 1px solid grey;
    margin-top: 10px;
}

.flex-container{
    display: flex;
    border: 1px solid grey;
    justify-content: space-between;
    height: 200px;
    /* margin: 10px; */
    /* padding: 20px; */
    background-color: beige;
}

.container{
    border: 1px solid grey;
    display:flex;
    justify-content: space-around;
    height: 400px;
    width: 25%;
    margin: auto;
    flex-wrap: wrap-reverse;
    background-color: brown;
}