.main{
    background-color: beige;
    width: 75%;
    margin:auto;
    height: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 24px;
}

h1{
    color: blueviolet;
    background-color: black;
    
}

p{  
    color: black;
}

/* @media all and (max-width: 500px){
    body{
        background-color: black;
    }
} */

a{
    text-decoration: none;
    color: purple;
    font-weight: bold;
    opacity: 0.7;
}

a:hover{
    opacity: 1;
}


#coding_languages{
    width: 100%;
    height: 50%;
}


.caption{
    text-align: center;
}

.computers{
    float: right;
    width: 15%;
    height: 7.5%;
}

/* # are used for id's
. are used for classes */
.flex-container{
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    background-color: pink;
}

.left-img{
    width: 95%;
}

.right-img{
    width: 95%;
    border: 1px solid black;
}



.top-nav{
    list-style-type:none;
    overflow: hidden;
    background-color: beige;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}


.top-nav-items a{
    display: block;
    color: orange;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    background-color: brown;
    opacity: 0.9;
}


.top-nav-items a:hover{
    border-bottom: 1px solid black;
    opacity: 1;
    background-color: aqua;
    color: black;
}